/* Layout */

html {
	height: 100%;
}

body {
	height: 100%;
	margin : 0px;
	padding : 0px;
	overflow : hidden;
	margin: 0 auto -20px;
	font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
}

header {
	position: absolute;
	top: 0;
	width: 100%;
	height: 50px;
	margin: 0px;
	padding : 0px;
	/*background: #e0e0e0;*/
	background-color: rgba(244,122,178,0.2);
	background-image: url("logo.png");
	background-repeat: no-repeat;
	overflow : hidden;
}

#loginLogo {
	margin-left: 35px;
	margin-bottom: 10px;
}

#nav {
	position: absolute;
	right: 0;
	top: 7px;
	right: 10px;
}

#nav a {
	text-decoration: none;
	color: #707070;
}

#nav a:hover {
	text-decoration: underline;
}

#chatWindow {
	overflow: scroll;
	overflow-x: hidden;
    position:absolute;
    top:0;
    bottom:0;
    width:95%;
	padding: 15px 15px 0px 15px;
	margin: 50px 0px 25px 0px;
}

#chatContents {
	width: 100%;
	margin: 0px;
	font: 16px/26px Georgia, Garamond, Serif;
}

#chatInput, #push {
	height: 25px;
}

#chatInput {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0px auto 0px auto;
	background: red;
}

#chatInput input {
	width: 100%;
	height: 20px;
	margin: 0px 0px 5px 0px;
	overflow: scroll;
	outline:none;
}

#register_box {
    position: fixed;
    height: 290px;
    width: 300px;
    margin-top: -160px;
    margin-left: -150px;
    top: 50%;
    left: 50%;
    /*border: 4px solid #e0e0e0;*/
    
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.8);
}

#heart {
	position: fixed;
	height: 700px;
	width: 700px;
	margin-top: -300px;
    margin-left: -350px;
	top: 50%;
	left: 50%;
	background-image: url(heart.png);
	background-size: 700px;
	background-repeat: no-repeat;
}

#register_contents {
    margin: 20px;
    text-align: center;
}

#register_form {
    width: 215px;
    margin: 0 auto 90px auto;
}

#register_form_left {
	display: block;
	margin: 0 10px 0 0;
	float: left;
}

#register_form input, .button {
	border: 2px solid #d0d0d0;
	padding: 8px 10px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	outline: 0;
}

.button, form {
	display: inline;
}

#loginButton {
	display: block;
	margin: 25px 0 0 0;
	float: right;
}

#register_form input[type="submit"]:hover, .button {
	background: -webkit-linear-gradient(top, #eee, #ccc);
	background: -moz-linear-gradient(top, #eee, #ccc);
	background: -ms-linear-gradient(top, #eee, #ccc);
	background: -o-linear-gradient(top, #eee, #ccc);
	background: linear-gradient(top, #eee, #ccc);
	border: 1px solid #bbb;
}

#register_form input[type="submit"]:active, .button {
	background: -webkit-linear-gradient(top, #ddd, #aaa);
	background: -moz-linear-gradient(top, #ddd, #aaa);
	background: -ms-linear-gradient(top, #ddd, #aaa);
	background: -o-linear-gradient(top, #ddd, #aaa);
	background: linear-gradient(top, #ddd, #aaa);	
	border: 1px solid #999;
}

#register_form input[type="submit"], .button {
	cursor: pointer;
	background: -webkit-linear-gradient(top, #efefef, #ddd);
	background: -moz-linear-gradient(top, #efefef, #ddd);
	background: -ms-linear-gradient(top, #efefef, #ddd);
	background: -o-linear-gradient(top, #efefef, #ddd);
	background: linear-gradient(top, #efefef, #ddd);
	color: #333;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
	border: 1px solid #ccc;
}

#remember_me {
	display: inline;
	font-size: 12px;
	margin: 0 20px 0 10px;
}

#login_info {
	font-size: 12px;
	width: 200px;
	margin: 95px auto 0 auto;
	text-align: center;
	color: #707070;
}

#contact {
	color: #707070;
	font-size: 12px;
	width: 200px;
	margin: 10px auto;
	text-align: center;
}

#contact a { color: #707070; text-decoration: none; text-align: center;}

#contact a:hover { text-decoration: underline; }

/* Banner */

#corner-banner {
	position: absolute;
	left: -65px;
	top: 25px;
	display: block;
	width: 200px;
	background: #0674A4;
	/*background: -moz-linear-gradient(top, #0674A4 0%, #000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0674A4), color-stop(100%,#000));*/
	text-align:center;
	font-size:11px;
	line-height:13px;
	padding:3px 3px 4px 3px;
	text-shadow: #000 1px 1px 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;
	-moz-box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;
	-webkit-box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;
}
#corner-banner a:link,#corner-banner a:visited  {color:#FFF0B7;text-decoration: none;}
#corner-banner a:hover,#corner-banner a:focus  {color:#FFF;text-decoration: none;}
#corner-banner em {
	letter-spacing:1px;
	font-style:normal;
	font-size:10px !important;
	color:#fff;
	text-transform:uppercase;
	line-height:12px;
	display:block;
}

#typingIndicator {
	position: absolute;
	bottom: 25px;
	right:0px;
	background: #e0e0e0;
	border: 1px solid #ccc;
	
	margin: 0 3px 3px 0;
	padding: 2px 4px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	font-size: 12px;
	color: #999;
	
	opacity: 1;
	-webkit-transition: opacity .2s linear;
}

#typingIndicator:hover {
	opacity: 0;
	-webkit-transition: opacity .2s linear;
}

#typingIndicatorHidden {
	display: none;
}


/* Presentation */

.youTag, .strangerTag {
	display: inline;
}

.youTag {
	color: #0674A4; /* Logo's blue color */ 
}

.strangerTag {
	color: #8D5431; /* Logo's brown color */ 
}

.announcement {
	font-style: italic;
	color: #707070;
}
