/* Layout */

html {
	height: 100%;
}

body {
	height: 100%;
	margin : 0px;
	padding : 0px;
	overflow : hidden;
	margin: 0 auto -20px;
	font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
}

header {
	position: absolute;
	top: 0;
	width: 100%;
	height: 50px;
	margin: 0px;
	padding : 0px;
	background: #e0e0e0;
	background-image: url("logo.png");
	background-repeat: no-repeat;
	overflow : hidden;
}

#loginLogo {
	margin-left: 35px;
	margin-bottom: 10px;
}

#nav {
	position: absolute;
	right: 0;
	top: 25px;
	right: 10px;
}

#nav a {
	text-decoration: none;
	color: #707070;
}

#nav a:hover {
	text-decoration: none;
	font-weight: bold;
}

#chatWindow {
	overflow: scroll;
	overflow-x: hidden;
    position:absolute;
    top:0;
    bottom:0;
    width:95%;
	padding: 15px 15px 0px 15px;
	margin: 50px 0px 25px 0px;
}

#chatContents {
	width: 100%;
	margin: 0px;
	font: 16px/26px Georgia, Garamond, Serif;
}

#chatInput, #push {
	height: 25px;
}

#chatInput {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0px auto 0px auto;
	background: red;
}

#chatInput input {
	width: 100%;
	height: 20px;
	margin: 0px 0px 5px 0px;
	overflow: scroll;
	outline:none;
}

#register_box {
    position: fixed;
    height: 290px;
    width: 300px;
    margin-top: -160px;
    margin-left: -150px;
    top: 50%;
    left: 50%;
    border: 4px solid #e0e0e0;
    
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#register_contents {
    margin: 20px;
    text-align: center;
}

#register_form {
    width: 215px;
    margin: 0 auto 90px auto;
}

#register_form_left {
	display: block;
	margin: 0 10px 0 0;
	float: left;
}

#register_form input {
	border: 2px solid #d0d0d0;
	padding: 8px 10px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	outline: 0;
}

#register_form input[type="submit"] {
	cursor: pointer;
	background: -webkit-linear-gradient(top, #efefef, #ddd);
	background: -moz-linear-gradient(top, #efefef, #ddd);
	background: -ms-linear-gradient(top, #efefef, #ddd);
	background: -o-linear-gradient(top, #efefef, #ddd);
	background: linear-gradient(top, #efefef, #ddd);
	color: #333;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
	border: 1px solid #ccc;
}

#loginButton {
	display: block;
	margin: 25px 0 0 0;
	float: right;
}

#register_form input[type="submit"]:hover {
	background: -webkit-linear-gradient(top, #eee, #ccc);
	background: -moz-linear-gradient(top, #eee, #ccc);
	background: -ms-linear-gradient(top, #eee, #ccc);
	background: -o-linear-gradient(top, #eee, #ccc);
	background: linear-gradient(top, #eee, #ccc);
	border: 1px solid #bbb;
}

#register_form input[type="submit"]:active {
	background: -webkit-linear-gradient(top, #ddd, #aaa);
	background: -moz-linear-gradient(top, #ddd, #aaa);
	background: -ms-linear-gradient(top, #ddd, #aaa);
	background: -o-linear-gradient(top, #ddd, #aaa);
	background: linear-gradient(top, #ddd, #aaa);	
	border: 1px solid #999;
}

#remember_me {
	display: inline;
	font-size: 12px;
	margin: 0 20px 0 10px;
}

#login_info {
	font-size: 12px;
	width: 200px;
	margin: 95px auto 0 auto;
	text-align: center;
	color: #707070;
}

#contact {
	font-size: 12px;
	width: 200px;
	margin: 10px auto;
	text-align: center;
}

#contact a { color: #707070; text-decoration: none; text-align: center;}

#contact a:hover { font-weight: bold; }

/* Presentation */

.youTag, .strangerTag {
	display: inline;
}

.youTag {
	color: #0674A4; /* Logo's blue color */ 
}

.strangerTag {
	color: #8D5431; /* Logo's brown color */ 
}

.announcement {
	font-style: italic;
	color: #707070;
}
