/* Layout */

html {
	height: 100%;
}

body {
	height: 100%;
	margin : 0px;
	padding : 0px;
	overflow : hidden;
	margin: 0 auto -20px;
}

header {
	position: absolute;
	top: 0;
	width: 100%;
	height: 50px;
	margin: 0px;
	padding : 0px;
	background: #e0e0e0;
	background-image: url("images/logo.png");
	background-repeat: no-repeat;
	overflow : hidden;
}

#nav {
	position: absolute;
	right: 0;
	top: 25px;
	right: 10px;
}

#nav a {
	text-decoration: none;
	color: #707070;
}

#chatWindow {
	overflow: scroll;
	overflow-x: hidden;
    position:absolute;
    top:0;
    bottom:0;
    width:95%;
	padding: 15px 15px 0px 15px;
	margin: 50px 0px 25px 0px;
}

#chatContents {
	width: 100%;
	margin: 0px;
	font: 16px/26px Georgia, Garamond, Serif;
}

#chatInput, #push {
	height: 25px;
}

#chatInput {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0px auto 0px auto;
	background: red;
}

#chatInput input {
	width: 100%;
	height: 20px;
	margin: 0px 0px 5px 0px;
	overflow: scroll;
	outline:none;
}

#register_box {
    position: fixed;
    height: 250px;
    width: 300px;
    margin-top: -125px;
    margin-left: -150px;
    top: 50%;
    left: 50%;
    background: #e0e0e0;
}

#register_contents {
    margin: 20px;
    text-align: center;
}

#register_form {
    width: 200px;
    margin: 0 auto;
    background: blue;
}

/* Presentation */

.youTag, .strangerTag {
	display: inline;
}

.youTag {
	color: #0674A4; /* Logo's blue color */ 
}

.strangerTag {
	color: #8D5431; /* Logo's brown color */ 
}

.announcement {
	font-style: italic;
	color: #707070;
}
